{% extends 'library/base.html' %}

{% block content %}

<h2>
    <a href="{{ url_for('device.detail', device_slug=device['slug']) }}">{% block title %}{{ device['name'] }}  / {{ platform.name }}{% endblock %}</a>
</h2>

<article id="device">
    <div id="installed">
        <h3>Installed Games</h3>
        <div class="listing">
            <table>
                {% for g in device_games %}
                    <tr>
                        <td>
                            {% if g.title %}
                                {{ g.title }}
                            {% else %}
                                {{ g.filename}}
                            {% endif %}
                        </td>

                        <td>
                            <button onclick="uninstallGame('{{ device.slug }}', '{{ platform.slug }}', '{{ g.filename }}')">DEL</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="available">
        <h3>Available Games</h3>
        <div class="listing">
            <table>
                {% for ag in available_games %}
                    <tr>
                        <td>{{ ag.title }}</td>
                        <td><button onclick="installGame('{{ device.slug }}', '{{ platform.slug }}', '{{ ag.filename }}')">Install</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</article>

<div id="console" style="display: none;">
    <div id="console-container">
        <p id="console-text"></p>

        <div id="console-confirm" style="display: none;"><button onclick="window.location.reload();">OK</button></div>
        <button onclick="hideConsole()">Close Window</button>
    </div>
</div>


{% endblock %}


{% block sidebar %}
    

{% endblock %}

