[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
configparser = "==6.0.0"
pillow = "==10.2.0"
sqlparse = "==0.4.4"
icecream = "*"
flask = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
pywebview = {extras = ["qt"], version = "*"}
pycairo = "*"
pygobject = "*"
markdown = "*"
flask-wtf = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
odfpy = "*"
panda = "*"
pyarrow = "*"
wand = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
main = "./main.py"
