@use "shared" as *
@use "themes/default" as *


// Global Variables
$base: 1.6rem
$default-margin: $base * 2


// Elements
html
    font-size: 62.5%

body,
button,
input,
optgroup,
select,
textarea
    font-family: $default-font
    font-size: $base

body
    color: $main-color
    background-color: $main-bkgd
    height: 100%
    z-index: 0

a
    color: $alt-color
    text-decoration: underline
    text-decoration-style: dotted

a:hover
    text-decoration: underline
    text-decoration-style: dotted

.confirm
    background-color: $confirm

button
    display: inline-flex
    align-items: center
    padding: 0.8rem
    font-family: "cabin-bold"
    text-transform: uppercase
    color: white
    border: $main-border

code
    background: rgb(55, 55, 55)
    font-size: $base
    border: none

h1, h2, h3, h4, h5, h6
    margin: $default-margin 0
    font-family: "cabin-bold"
    text-transform: uppercase

input
    border: $main-border

label
    font-weight: 600

nav
    a
        margin-right: 3.2rem

table
    width: 100%
    tr
        td, th
            text-align: left
            padding: 0.4em 0
            border-bottom: $main-border
            
// IDS
#console
    height: 100%
    width: 100%
    z-index: 100
    position: fixed
    top: 0
    left: 0
    background-color: $alt-bkgd
    #console-container
        width: 64.0rem
        height: 80%
        top: $default-margin
        margin: 3.2rem auto 0 auto
        padding: $default-margin
        background-color: white

#device
    display: grid
    grid-template-columns: 1fr 1fr
    gap: $default-margin * 2
    .listing
        height: 72vh
        overflow: scroll
        scrollbar-width: thin

#top-nav
    width: 100%
    position: fixed
    top: 0
    background: $alt-bkgd
    z-index: 10
    #header
        width: 80%
        height: 6.4rem
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        gap: 0 $base
        nav
            .sub-header
                display: inline-block
                padding: 2.0rem 0
                font-size: 2.0rem
                text-transform: uppercase
                a
                    text-decoration: none
            .sub-menu-content
                display: none
                padding: 0.8rem 0
                position: absolute
                z-index: 50
                background-color: $alt-bkgd
                li
                    list-style: none
            .sub-menu:hover .sub-menu-content
                display: block
                li
                    padding: $base
        #search
            height: $default-margin
            border-radius: $base
            input:focus
                border: $main-border
            input#query
                height: $default-margin
                padding-right: 4.8rem

#main-window
    width: 80%
    margin: 0 auto
    display: grid
    grid-template-columns: 3fr 1fr
    gap: $default-margin * 2
    justify-content: space-between
    z-index: 0
    #content, #sidebar
        margin-top: $default-margin * 2
    #sidebar
        text-align: right
        ul
            li
                margin: $base auto
                list-style: none

#system-messages
    ul
        display: block
        padding: $base
        border: 1px dashed #ccc


// Game
#game
    display: grid
    grid-template-columns: 1fr 2fr
    #boxart
        margin: 0 $default-margin 0 0
        img
            max-width: 100%
            max-height: 32.0rem
            position: relative

    #game_details
        max-height: 32.0rem
        display: flex
        flex-flow: column wrap
        justify-content: flex-start
        .detail
            margin: 0 0 $base 0

#game-title
    display: flex
    flex-flow: row nowrap
    align-items: center
    gap: 0 $default-margin

#main-window
    padding: 0 $default-margin

#pagination
    #step-links
        padding: $default-margin * 0.5
        display: flex
        flex-flow: row nowrap
        gap: $default-margin
        justify-content: center

#tag-list
    display: inline
    list-style: none
    padding: 0
    li
        display: inline
    li:after
        content: ", "
    li:last-child:after
        content: ""

#tech-info
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

// MEDIA
#media
    height: 12.8rem
    display: flex
    flex-flow: row wrap
    gap: $default-margin
    .media_image
        height: 11.2rem
        width: 11.2rem
        padding: 0.8rem
        display: flex
        align-items: center
        background-color: $alt-bkgd
        img
            position: relative
            height: auto
            width: 100%

// CLASSES
.columns
    display: flex
    flex-flow: row nowrap

.icon
    max-width: $default-margin
    max-height: $default-margin
    padding: 0.8rem

.logo
    max-height: $default-margin
    padding: 0.4rem

.game-list
    border-collapse: collapse
    tr
        td
            height: 4.8rem
            .alt_title
                font-size: 1.4rem 

// INTERFACE
.confirm
    background-color: $confirm

.execute
    background-color: $execute